@font-face {
  font-family: 'Favorit Pro';
  src: url('../fonts/favoritpro/favoritpro-light.woff2') format('woff2'),
    url('../fonts/favoritpro/favoritpro-light.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
