


#timerContainer {
  display: flex;
  margin: auto;
  color: white;
  width: fit-content;
  height: 100vh;
  align-items:center;
}

.timerBlock{
  display:flex;
  flex-direction:column;
  text-align: center;
  height:86pt;
}

.timerSurtext{
  height: 72pt;
  font-size: 72pt;
  line-height: 72pt;
  @font-face {
    font-family: 'DS-DIGI';
    src: url('../../src/fonts/DS-DIGI.ttf');
  }
}

.timerSubtext{
  height: 14pt;
  font-size: 14pt;
  line-height: 14pt;
  color: #F4D03F;
}