#loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10000;
  background: black;
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%);
  transition: clip-path 1s;
}

#timerContainer {
  display: flex;
  flex-direction: column;
  color: #f1c40f;
  height: 100vh;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s;
  img {
    transform: translateY(200%) skewY(10deg);
    animation: apparition-animation cubic-bezier(0.74, 0, 0.37, 1) 1.5s forwards;
  }
  p {
    span {
      display: inline-block;
      transform: translateY(100%);
      animation: apparition-animation cubic-bezier(0.74, 0, 0.37, 1) 1.5s forwards;
    }
  }
}

@keyframes apparition-animation {
  to {
    transform: translateY(0) skewY(0deg);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.loaderLine {
  height: 2px;
  width: 25%;
  background-color: #262626;
  position: absolute;
  bottom: 33%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity ease-in-out 0.5s;
  border-radius: 2px;

  .line {
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: white;
    border-radius: 2px;
  }
}
.loaderBottom {
  position: absolute;
  bottom: 8%;
  text-align: center;
  width: 100%;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 12px 0;
  opacity: 1;
  transition: opacity 0.5s;
  h3 {
    span {
      display: inline-block;
      transform: translateY(250%) skewY(10deg);
      animation: apparition-animation cubic-bezier(0.74, 0, 0.37, 1) 1.5s 1s forwards;
    }
  }
  svg {
    transform: scale(0);
    animation: svg-animation cubic-bezier(0.74, 0, 0.37, 1) 1.5s 0.5s forwards;
  }
}

@keyframes svg-animation {
  to {
    transform: scale(1);
  }
}

#headphones {
  color: #f1c40f;
}

#clickToStart {
  color: #fff;
  opacity: 0;
}

#timerContainer.fadeout {
  opacity: 0;
}

#headphones.fadeout {
  opacity: 0;
}

#clickToStart.fadein {
  opacity: 1;
}

#loader.openScene {
  transition-timing-function: cubic-bezier(0.51, 0, 0.2, 1);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0, 0 0);
}
