.chapter_0 {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
    button {
      position: absolute;
      top: 5rem;
      right: 5rem;
      pointer-events: auto;
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: column;
      width: 45px;
      height: 45px;
      &:hover {
        cursor: pointer;
      }
      .bottom-line,
      .top-line {
        display: inline-block;
        pointer-events: none;
        height: 0.5px;
        width: 30px;
        position: absolute;
        top: 50%;
        background-color: #fff;
        transition: transform 1s 0.2s, opacity 0.5s 0.2s;
        opacity: 0;
      }
    }
  }
  .exposition-images-container {
    opacity: 0;
    z-index: 0;
    width: 200vw;
    height: 200vh;
    position: absolute;
    left: -50vw;
    top: -50vh;
    background-color: black;

    .exposition-images {
      position: absolute;
      top: 70vh;
      left: 50vw;
      height: 100vh;
      width: 100vw;
      // .image-wrapper {
      img {
        width: 30%;
        position: absolute;
        transform: rotate(-5deg);
        box-sizing: border-box;
        width: auto;
        // img {
        //   width: 100%;
        //   height: 100%;
        //   object-fit: cover;
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        // }
        &:nth-child(1) {
          left: 10%;
          top: 30%;
          height: 50%;
        }
        &:nth-child(2) {
          left: 70%;
          top: 60%;
          height: 50%;
        }
        &:nth-child(3) {
          left: 40%;
          top: 50%;
          height: 30%;
        }
        &:nth-child(4) {
          left: 90%;
          top: 5%;
          height: 45%;
        }
        &:nth-child(5) {
          left: 40%;
          top: -10%;
          height: 20%;
        }
        &:nth-child(6) {
          left: 0%;
          top: 70%;
          height: 20%;
        }
        &:nth-child(7) {
          left: 20%;
          top: -15%;
          height: 30%;
        }
        &:nth-child(8) {
          left: 30%;
          top: 60%;
          height: 30%;
        }
        &:nth-child(9) {
          left: -5%;
          top: 15%;
          height: 30%;
        }
        &:nth-child(10) {
          left: 80%;
          top: -5%;
          height: 30%;
        }
        &:nth-child(11) {
          left: 50%;
          top: -30%;
          height: 40%;
        }
        &:nth-child(12) {
          left: 60%;
          top: 50%;
          height: 40%;
        }
      }
    }
  }
  .zoomed-image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 202;
    pointer-events: none;

    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      opacity: 0;
      .left-container {
        width: 50%;
        height: 100%;
        position: relative;
        .left {
          width: 100%;
          height: 100%;
          img {
            position: absolute;
            width: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .right-container {
        width: 50%;
        height: 100%;
        position: relative;
        .right {
          width: 100%;
          height: 100%;
          .infos {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p{
              text-transform: none;
            }
          }
        }
      }
    }
  }
  .start-experience-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    display: none;
  }
}

//global to chapter

.chapter_0 {
  h2 {
    margin-bottom: 3rem;
    max-width: 30rem;
  }
  p {
    max-width: 35rem;
    opacity: 0;
    transition: opacity 1.5s;
  }
}

//interactions

.chapter_0.is-active {
  pointer-events: auto;

  .start-experience-wrapper {
    // pointer-events: auto;
    display: block;
  }
  .exposition-images-container {
    z-index: 10;
    opacity: 1;
  }
}

.container.is-active {
  opacity: 1 !important;
  p {
    opacity: 1;
  }
}

.black-overlay.is-active {
  opacity: 0.9;
  z-index: 201;
  button {
    .top-line {
      transform: rotate(-45deg) scaleX(1);
      opacity: 1;
    }
    .bottom-line {
      transform: rotate(45deg) scaleX(1);
      opacity: 1;
    }
  }
}
